{% load static %}


 <aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group shadow-lg">
        <a class="list-group-item {% if '/store/admin_dashboard/' == request.path %} active {% endif %}" href="{% url 'admin_dashboard' %}"> Dashboard </a>
        <a class="list-group-item {% if '/accounts/view_account/' in request.path %} active {% endif %}" href="{% url 'view_account' %}"> Accounts </a>
        <a class="list-group-item {% if '/category/view_category/' == request.path %} active {% endif %}" href="{% url 'view_category' %}"> Categories </a>
        <a class="list-group-item {% if '/store/view_product/' in request.path %} active {% endif %}" href="{% url 'view_product' %}">Products </a>
        <a class="list-group-item {% if '/store/view_variation/' in request.path %} active {% endif %}" href="{% url 'view_variation' %}">Variations </a>
        <a class="list-group-item {% if '/cart/view_cart/' in request.path %} active {% endif %}" href="{% url 'view_cart' %}"> Carts </a>
        <a class="list-group-item {% if '/cart/view_cart_item/' in request.path %} active {% endif %}" href="{% url 'view_cart_item' %}">Cart Items </a>
        <a class="list-group-item {% if '/orders/view_order/' in request.path %} active {% endif %}" href="{% url 'view_order' %}"> Orders </a>
        <a class="list-group-item {% if '/my_orders/' in request.path %} active {% endif %}" href=""> Ordered Products </a>
        <a class="list-group-item {% if '/orders/view_payment/' in request.path %} active {% endif %}" href="{% url 'view_payment' %}"> Payments </a>
        <a class="list-group-item {% if '/store/view_review/' in request.path %} active {% endif %}" href="{% url 'view_review' %}"> Reviews and Ratings </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block shadow-lg" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
    {% if '/store/view_product/' == request.path %}
    <a class="btn btn-light btn-block shadow-lg" href="{% url 'add_product' %}"> <i class="fa fa-plus"></i> <span class="text">Add New Product</span> </a>
    {% endif %} 
    {% if '/category/view_category/' == request.path %}
    <a class="btn btn-light btn-block shadow-lg" href="{% url 'add_category' %}"> <i class="fa fa-plus"></i> <span class="text">Add New Category</span> </a>
    {% endif %}
    {% if '/accounts/view_account/' == request.path %}
    <a class="btn btn-light btn-block shadow-lg" href="{% url 'add_user' %}"> <i class="fa fa-plus"></i> <span class="text">Add New User</span> </a>
    {% endif %}
    {% if '/store/view_variation/' == request.path %}
    <a class="btn btn-light btn-block shadow-lg" href="{% url 'add_variation' %}"> <i class="fa fa-plus"></i> <span class="text">Add New Variation</span> </a>
    {% endif %}
   
    <!--   SIDEBAR .//END   -->
</aside>